/* 
0 - 600px:      Phone
600 - 900px:    Tablet portrait 
900 - 1200px:   Tablet landscape
[1200 - 1800] is where normal styles apply
1800px +:       Big desktop

$breakpoint argument choices: 
- phone
- tab-port
- tab-land
- big-desktop
*/
*,
*::after,
*::before {
  margin: 0px;
  padding: 0px;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }

body {
  box-sizing: border-box; }

.row {
  max-width: 1140px;
  margin: 0 auto; }

section {
  padding: 7rem 0 4rem 0; }

/*  SECTIONS  ============================================================================= */
.section {
  clear: both;
  padding: 0px;
  margin: 0px; }

/*  GROUPING  ============================================================================= */
.row {
  zoom: 1;
  /* For IE 6/7 (trigger hasLayout) */ }

.row:before,
.row:after {
  content: "";
  display: table; }

.row:after {
  clear: both; }

/*  GRID COLUMN SETUP   ==================================================================== */
.col {
  display: block;
  float: left;
  margin: 1% 0 1% 1.6%; }

.col:first-child {
  margin-left: 0; }

/* all browsers except IE6 and lower */
/*  REMOVE MARGINS AS ALL GO FULL WIDTH AT 480 PIXELS */
@media only screen and (max-width: 480px) {
  .col {
    /*margin: 1% 0 1% 0%;*/
    margin: 0; } }

/*  GRID OF TWO   ============================================================================= */
.span-2-of-2 {
  width: 100%; }

.span-1-of-2 {
  width: 49.2%; }

/*  GO FULL WIDTH AT LESS THAN 480 PIXELS */
@media only screen and (max-width: 480px) {
  .span-2-of-2 {
    width: 100%; }
  .span-1-of-2 {
    width: 100%; } }

/*  GRID OF THREE   ============================================================================= */
.span-3-of-3 {
  width: 100%; }

.span-2-of-3 {
  width: 66.13%; }

.span-1-of-3 {
  width: 32.26%; }

/*  GO FULL WIDTH AT LESS THAN 480 PIXELS */
@media only screen and (max-width: 480px) {
  .span-3-of-3 {
    width: 100%; }
  .span-2-of-3 {
    width: 100%; }
  .span-1-of-3 {
    width: 100%; } }

/*  GRID OF FOUR   ============================================================================= */
.span-4-of-4 {
  width: 100%; }

.span-3-of-4 {
  width: 74.6%; }

.span-2-of-4 {
  width: 49.2%; }

.span-1-of-4 {
  width: 23.8%; }

/*  GO FULL WIDTH AT LESS THAN 480 PIXELS */
@media only screen and (max-width: 480px) {
  .span-4-of-4 {
    width: 100%; }
  .span-3-of-4 {
    width: 100%; }
  .span-2-of-4 {
    width: 100%; }
  .span-1-of-4 {
    width: 100%; } }

/*  GRID OF FIVE   ============================================================================= */
.span-5-of-5 {
  width: 100%; }

.span-4-of-5 {
  width: 79.68%; }

.span-3-of-5 {
  width: 59.36%; }

.span-2-of-5 {
  width: 39.04%; }

.span-1-of-5 {
  width: 18.72%; }

/*  GO FULL WIDTH AT LESS THAN 480 PIXELS */
@media only screen and (max-width: 480px) {
  .span-5-of-5 {
    width: 100%; }
  .span-4-of-5 {
    width: 100%; }
  .span-3-of-5 {
    width: 100%; }
  .span-2-of-5 {
    width: 100%; }
  .span-1-of-5 {
    width: 100%; } }

/*  GRID OF SIX   ============================================================================= */
.span-6-of-6 {
  width: 100%; }

.span-5-of-6 {
  width: 83.06%; }

.span-4-of-6 {
  width: 66.13%; }

.span-3-of-6 {
  width: 49.2%; }

.span-2-of-6 {
  width: 32.26%; }

.span-1-of-6 {
  width: 15.33%; }

/*  GO FULL WIDTH AT LESS THAN 480 PIXELS */
@media only screen and (max-width: 480px) {
  .span-6-of-6 {
    width: 100%; }
  .span-5-of-6 {
    width: 100%; }
  .span-4-of-6 {
    width: 100%; }
  .span-3-of-6 {
    width: 100%; }
  .span-2-of-6 {
    width: 100%; }
  .span-1-of-6 {
    width: 100%; } }

body {
  font-family: "Lato", sans-serif;
  font-weight: 300;
  line-height: 1.7;
  font-size: 2rem;
  color: #555;
  text-rendering: optimizeLegibility; }

.heading-secondary {
  font-weight: 300;
  word-spacing: 2px;
  text-align: center;
  margin-bottom: 30px;
  letter-spacing: 1px;
  font-size: 5rem;
  color: #4d4d4d; }
  @media only screen and (max-width: 37.5em) {
    .heading-secondary {
      letter-spacing: 1rem;
      font-size: 5rem; } }
  .heading-secondary:after {
    display: block;
    height: 2px;
    background-color: #df0054;
    content: " ";
    width: 160px;
    margin: 0 auto;
    margin-top: 30px; }

.heading-tertiary {
  text-transform: uppercase; }
  .heading-tertiary:after {
    display: block;
    height: 2px;
    background-color: #ff136c;
    content: " ";
    width: 2rem;
    margin: 1rem 0 1rem 4rem; }

.heading-tertiary-centered:after {
  margin: 1rem auto 1rem auto; }

.center-text {
  text-align: center; }

.bold-text {
  font-weight: 400; }

.icon-big {
  color: #ff136c;
  font-size: 200%;
  display: inline-block; }

.bulletpoints {
  list-style-position: inside;
  padding-left: 1.5rem;
  color: #555;
  list-style: none; }
  .bulletpoints li::before {
    color: #ff136c;
    content: "\2022";
    font-size: 1em;
    padding-right: 1.1225em;
    position: relative;
    top: 0em; }

.bg-video {
  top: 0;
  left: 0;
  overflow: hidden;
  height: 100vh;
  width: 100%; }
  .bg-video__overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 2;
    overflow: hidden; }
  .bg-video__content {
    object-fit: cover;
    z-index: -1; }

.btn {
  display: inline-block;
  text-decoration: none;
  transition: background-color 0.2s, border 0.2s, color 0.2s;
  -webkit-transition: background-color 0.2s, border 0.2s, color 0.2s;
  -moz-transition: background-color 0.2s, border 0.2s, color 0.2s;
  -ms-transition: background-color 0.2s, border 0.2s, color 0.2s;
  -o-transition: background-color 0.2s, border 0.2s, color 0.2s; }
  .btn--full:link, .btn--full:visited {
    background-color: #df0054;
    border: 1px solid #df0054; }
  .btn--full:hover, .btn--full:active {
    background-color: #9b003a;
    border-color: #9b003a; }
  .btn--ghost:link, .btn--ghost:visited {
    border: 1px solid #df0054; }
  .btn--ghost:hover, .btn--ghost:active {
    background-color: #9b003a;
    border: 1px solid #9b003a; }
  .btn--feature {
    border-radius: 200px;
    font-size: 2rem;
    margin: 0 1rem;
    padding: 10px 30px;
    color: #fff;
    font-weight: 300; }
  .btn--small {
    font-size: 1.8rem;
    font-weight: 400;
    border-radius: 4px;
    margin-right: 2rem;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08);
    letter-spacing: .025rem;
    padding: .4rem .8rem; }
    .btn--small-full {
      background-color: #ff136c;
      color: #fff; }
      .btn--small-full:hover, .btn--small-full:active {
        background-color: #ff136c;
        opacity: .8;
        color: #fff;
        transform: translateY(-0.3rem);
        -webkit-transform: translateY(-0.3rem);
        -moz-transform: translateY(-0.3rem);
        -ms-transform: translateY(-0.3rem);
        -o-transform: translateY(-0.3rem); }
      .btn--small-full:link, .btn--small-full:visited {
        color: #fff; }
    .btn--small-ghost {
      color: #ff136c; }
      .btn--small-ghost:hover, .btn--small-ghost:active {
        color: #ff136c;
        opacity: .8;
        transform: translateY(-0.3rem);
        -webkit-transform: translateY(-0.3rem);
        -moz-transform: translateY(-0.3rem);
        -ms-transform: translateY(-0.3rem);
        -o-transform: translateY(-0.3rem); }
      .btn--small-ghost:link, .btn--small-ghost:visited {
        color: #ff136c; }

.section-about__paragraph {
  width: 70%;
  font-size: 2rem;
  margin-left: 15%;
  padding-top: 2rem;
  margin-bottom: 3rem; }

.section-about__list {
  text-align: left;
  font-size: 1.7rem; }

.col:first-child {
  margin-left: 0; }

.hammer::before {
  transform: rotate(40deg);
  -webkit-transform: rotate(40deg);
  -moz-transform: rotate(40deg);
  -ms-transform: rotate(40deg);
  -o-transform: rotate(40deg); }

.contact__links {
  margin: 15rem 0 20rem 0; }
  .contact__links span {
    padding: 0 3rem; }
  .contact__links a {
    margin: 0 3rem;
    text-decoration: none;
    color: #555;
    padding-bottom: 1rem; }
    .contact__links a:link, .contact__links a:visited {
      color: #555; }
    .contact__links a:hover, .contact__links a:active {
      color: #555;
      border-bottom: 2px solid #ff136c;
      padding-bottom: 1rem; }

.header__title {
  position: absolute;
  z-index: 9999;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%); }
  .header__title-primary {
    font-weight: 300;
    font-size: 10rem;
    color: #fff;
    border-top: 1px dashed #fff;
    border-bottom: 1px dashed #fff;
    margin-bottom: 2rem; }

.header__buttons {
  margin-left: 7rem;
  margin-top: 1rem; }

.footer p {
  padding-bottom: 5rem;
  font-size: 1.7rem; }

/*-----------------------------------------------*/
/* common properties */
/*-----------------------------------------------*/
.navigation {
  top: 0;
  width: 100%;
  z-index: 99999; }
  .navigation .__ul {
    list-style: none;
    float: right; }
  .navigation .__item {
    font-weight: 300;
    float: left;
    text-transform: uppercase;
    font-size: 1.7rem; }
  .navigation .__link {
    text-decoration: none; }
    .navigation .__link:link, .navigation .__link:visited {
      border-bottom: 2px solid transparent;
      transition: border-bottom 0.2s;
      -webkit-transition: border-bottom 0.2s;
      -moz-transition: border-bottom 0.2s;
      -ms-transition: border-bottom 0.2s;
      -o-transition: border-bottom 0.2s; }
    .navigation .__link:hover, .navigation .__link:active {
      border-bottom: 2px solid #df0054;
      padding-bottom: .8rem; }

/*-----------------------------------------------*/
/* Main Nav */
/*-----------------------------------------------*/
.navigation-main {
  position: absolute; }
  .navigation-main .__item {
    padding: 5.5rem 2rem; }
  .navigation-main .__link:link, .navigation-main .__link:visited {
    padding-bottom: .8rem;
    color: #fff; }

/*-----------------------------------------------*/
/* Sticky Nav */
/*-----------------------------------------------*/
.sticky {
  position: fixed;
  background-color: rgba(255, 255, 255, 0.98);
  box-shadow: 0 2px 2px #efefef;
  font-size: 2rem; }
  .sticky .__ul {
    display: inline-block; }
  .sticky .__item {
    padding: 1rem 2rem; }
  .sticky .__link {
    text-decoration: none; }
    .sticky .__link:link, .sticky .__link:visited {
      color: #555; }

.projects__card {
  margin-top: 5rem;
  box-shadow: 0 50px 100px rgba(50, 50, 93, 0.05), 0 15px 35px rgba(50, 50, 93, 0.1), 0 5px 15px rgba(0, 0, 0, 0.1); }
  .projects__card img {
    width: 30%;
    margin: 4rem 2rem;
    border-radius: 2px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -ms-border-radius: 2px;
    -o-border-radius: 2px;
    position: relative;
    width: 100%;
    box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08); }

.projects__content {
  padding: 1rem 4rem; }
  .projects__content--skills {
    padding: 2rem 0;
    font-size: 1.7rem; }
    .projects__content--skills-skill {
      border: 2px solid #9499f9;
      padding: .5rem;
      margin-right: 1rem;
      margin-bottom: 2rem;
      border-radius: 4px;
      -webkit-border-radius: 4px;
      -moz-border-radius: 4px;
      -ms-border-radius: 4px;
      -o-border-radius: 4px; }
  .projects__content--buttons {
    margin-bottom: 1.5rem;
    margin-top: 1rem; }
