.section-about {
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 10rem;

    @include respond(tab-land) { 
        margin-right: 5%;
        margin-left: 5%; 
    }

    &__info {
        display: flex; 
        flex-direction: column;
        margin-bottom: 10rem;
        margin-top: 5rem;

        &--paragraph {
            margin-top: 1rem;
            margin-bottom: 3rem;
        
            & :last-child { margin-top: 2rem; }
        }
    }

    &__skills {
        display: flex;
        justify-content: space-between;

        @include respond(tab-land) { 
            width: 100%;
            flex-direction: column;
        }

        &--heading i { margin-left: 3rem; }

        &--ul { margin-top: 2rem; }

        &--two-cols {
            -webkit-columns: 2;
                -moz-columns: 2;
                    columns: 2;
            padding-left: 0;
            margin-top: 2rem;

            @include respond(tab-land) { 
                -webkit-columns: 1;
                    -moz-columns: 1;
                        columns: 1;
            }
        }
    }
}

.col:first-child {
    margin-left: 0;
}

.hammer::before {
    transform: rotate(40deg);
    -webkit-transform: rotate(40deg);
    -moz-transform: rotate(40deg);
    -ms-transform: rotate(40deg);
    -o-transform: rotate(40deg);
}