.section-about {
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 10rem;

    @include respond(tab-land) { 
        margin-right: 5%;
        margin-left: 5%; 
    }

    &__info {
        display: flex; 
        flex-direction: column;
        margin-bottom: 10rem;
        margin-top: 5rem;

        &--paragraph {
            margin-top: 1rem;
            margin-bottom: 3rem;
        
            & :last-child { margin-top: 2rem; }
        }
    }

    &__skills {
        display: flex;
        justify-content: space-between;

        @include respond(tab-land) { 
            width: 100%;
            flex-direction: column;
        }

        &--cols {
            flex-basis: 33%;
        }

        &--heading {
            margin-bottom: 2rem;

            i {
                @include respond(tab-land) {
                    margin-left: 3rem;
                }
            }
        }

        &--ul { margin-top: 2rem; }

        &--two-cols {
            margin-top: 2rem;
            display: flex;
            margin-left: 3rem;

            @include respond(tab-land) { 
                flex-direction: column;
                margin-left: 0;
            }

            &-row {
                width: 50%;
                @include respond(tab-land) {
                    width: unset;
                }
            }
        }
    }
}

.col:first-child {
    margin-left: 0;
}

.hammer::before {
    transform: rotate(40deg);
    -webkit-transform: rotate(40deg);
    -moz-transform: rotate(40deg);
    -ms-transform: rotate(40deg);
    -o-transform: rotate(40deg);
}