.section-about {
    &__paragraph {
        width: 80%;
        font-size: 2rem; 
        padding-top: 2rem;
        margin-bottom: 3rem;

        @include respond(tab-land) { font-size: 1.8rem; }

        & :last-child { padding-top: 1.5rem; }
    }

    &__list {
        text-align: left;
        font-size: 1.7rem;
    }

    &__rightcol {
        @include respond(tab-port-2) { 
            margin-left: 10rem; 
        } 
    }
}

.col:first-child {
    margin-left: 0;
}

.hammer::before {
    transform: rotate(40deg);
    -webkit-transform: rotate(40deg);
    -moz-transform: rotate(40deg);
    -ms-transform: rotate(40deg);
    -o-transform: rotate(40deg);
}