h1 {
    font-size: 10rem;

    @include respond(tab-land) { font-size: 8rem ; }
}

.header {
    &__title {
        position: absolute;
        z-index: 9999;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        -webkit-transform: translate(-50%, -50%);
        -moz-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        -o-transform: translate(-50%, -50%);

        @include respond(tab-port-small) { 
            width: 100%; 
            text-align: center;
        }

        &-primary {
            font-weight: 300;
            color: #fff;
            border-top: 1px dashed #fff;
            border-bottom: 1px dashed #fff;
            margin-bottom: 2rem;

            @include respond(tab-land-small) { font-size: 6.5rem ; }

            @include respond(tab-port-2) { font-size: 6rem !important; }
        }
    }

    &__buttons {
        margin-left: 7rem;
        margin-top: 1rem;

        @include respond(tab-port-2) { margin-left: 0; }
    }
}

.footer {
    & p {
        padding-bottom: 5rem;
        font-size: 1.7rem;

        @include respond(tab-land) { font-size: 1.4rem; }
    }
}