.header {
    &__title {
        position: absolute;
        z-index: 9999;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        -webkit-transform: translate(-50%, -50%);
        -moz-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        -o-transform: translate(-50%, -50%);

        &-primary {
            font-weight: 300;
            font-size: 10rem;
            color: #fff;
            border-top: 1px dashed #fff;
            border-bottom: 1px dashed #fff;
            margin-bottom: 2rem;
        }
    }

    &__buttons {
        margin-left: 7rem;
        margin-top: 1rem;
    }
}

.footer {
    & p {
        padding-bottom: 5rem;
        font-size: 1.7rem;
    }
}