.navigation {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 9999;  

    &__list {
        list-style: none; 
        float: right; 
        margin-top: 5.5rem;
        margin-right: 18rem; 
    }

    &__item {
        font-weight: 300;
        height: 5.5rem;
        float: left; 
        padding: 0 2rem; 
        text-transform: uppercase;
    }

    &__link {
        text-decoration: none;

        &:link,
        &:visited {
            color: #fff;
        }
    }
}