.btn {
    display: inline-block;
    text-decoration: none;
    transition: background-color 0.2s, border 0.2s, color 0.2s;
    -webkit-transition: background-color 0.2s, border 0.2s, color 0.2s;
    -moz-transition: background-color 0.2s, border 0.2s, color 0.2s;
    -ms-transition: background-color 0.2s, border 0.2s, color 0.2s;
    -o-transition: background-color 0.2s, border 0.2s, color 0.2s;

    &--full {
        &:link,
        &:visited {
            background-color: $color-primary;
            border: 1px solid $color-primary;
        }

        &:hover,
        &:active {
            background-color: $color-primary-dark;
            border-color: $color-primary-dark;
        }
    }

    &--ghost {
        &:link,
        &:visited {
            border: 1px solid $color-primary;
        }

        &:hover,
        &:active {
            background-color: $color-primary-dark;
            border: 1px solid $color-primary-dark;
        }
    }

    &--feature {
        border-radius: 200px;
        font-size: 2rem;
        margin: 0 1rem;
        padding: 1rem 3rem;
        color: $color-white;
        font-weight: 300;

        @include respond(tab-port-small) { padding: .8rem 2.8rem }
    }

    &--small {
        font-size: 1.8rem;
        font-weight: 400;
        border-radius: 4px;
        margin-right: 2rem;
        -webkit-border-radius: 4px;
        -moz-border-radius: 4px;
        -ms-border-radius: 4px;
        -o-border-radius: 4px;
        box-shadow: 
            0 4px 6px rgba(50,50,93,.11), 
            0 1px 3px rgba(0,0,0,.08);
        letter-spacing: .025rem;
        padding: .4rem .8rem;

        @include respond(tab-port) { font-size: 1.7rem; }

        &-full {
            background-color: $color-primary-light;
            color: $color-white;

            &:hover,
            &:active {
                background-color: $color-primary-light;
                opacity: .8;
                color: $color-white;
                transform: translateY(-.3rem);
                -webkit-transform: translateY(-.3rem);
                -moz-transform: translateY(-.3rem);
                -ms-transform: translateY(-.3rem);
                -o-transform: translateY(-.3rem);
            }
            
            &:link,
            &:visited { 
                color: $color-white; 
            }
        }

        &-ghost {
            color: $color-primary-light;

            &:hover,
            &:active {
                color: $color-primary-light;
                opacity: .8;
                transform: translateY(-.3rem);
                -webkit-transform: translateY(-.3rem);
                -moz-transform: translateY(-.3rem);
                -ms-transform: translateY(-.3rem);
                -o-transform: translateY(-.3rem);
            }
            
            &:link,
            &:visited { 
                color: $color-primary-light;
            }
        }
    }
}