body {
    font-family: "Lato", sans-serif;
    font-weight: 300; 
    line-height: 1.7; 
    font-size: $default-font-size;
    color: $color-grey-dark;
    text-rendering: optimizeLegibility;

    @include respond(tab-land) { font-size: 1.7rem; }

    @include respond(tab-land-small) { padding: 1.5rem 0; }
}

//HEADINGS

.heading-secondary {
    font-weight: 300;
    word-spacing: 2px;
    text-align: center; 
    margin-bottom: 30px; 
    letter-spacing: 1px; 
    font-size: 5rem;
    color: $color-grey-dark-2;

    &:after {
        display: block; 
        height: 2px; 
        background-color: $color-primary;
        content: " "; 
        width: 160px; 
        margin: 0 auto; 
        margin-top: 30px; 
    }
}

.heading-tertiary { 
    text-transform: uppercase; 

    @include respond(tab-land) { font-size: 2.2rem; }

    &:after {
        display: block; 
        height: 2px; 
        background-color: $color-primary-light;
        content: " "; 
        width: 2rem; 
        margin: 1rem 0 1rem 4rem; 
    }
}

.heading-tertiary-centered {
    &:after { 
        margin: 1rem auto 1rem auto; 
    }
}

//TEXT FORMATTING

.center-text { text-align: center; }

.bold-text { font-weight: 400 }

//ICONS

.icon-big {
    color: $color-primary-light;
    font-size: 200%; 
    display: inline-block; 
}

//UL 

.bulletpoints {
    list-style-position: inside;
    color: $color-grey-dark; 
    list-style: none;
    margin-left: 6.5rem;

    @include respond(tab-port-2) {  
        max-width: 450px;
        
        @include respond(phone) {
            max-width: 300px;
        }
    }

    & li::before {
        content: "\2022";
        color: $color-primary-light;
        display: inline-block; 
        width: 1em;
        margin-left: -1em;
        padding-right: 1.1225em;
    }
}

.center-div {
    @include respond(tab-port-2) {
        margin: 0 auto;
        max-width: 280px;
    }

    &--last {
        @include respond(tab-port-2) {
            margin: 0 auto;
            max-width: 400px;
        }
    }
}