//COLOURS:
$color-primary: #df0054;
$color-primary-dark: #9b003a;

$color-secondary: #ff8b6a;
$color-secondary-light: #ffd6c2;

$color-grey-light-1: #f7f7f7; 
$color-grey-light-2: #eee;

$color-grey-dark: #555;
$color-grey-dark-2: #4d4d4d;
$color-grey-dark-3: #333;

$color-white: #fff;

// FONT SIZE
$default-font-size: 1.7rem;